extends ./layout.jade

mixin graph(title, graph_id, placeholder_id)
  .col-xs-4.col-sm-4.placeholder
    h4= title
    div(id=placeholder_id)
    //- table
    //-   tr
    //-     td
    //-       span.caption-usr= cap1
    //-     td
    //-       span.caption-sys= cap2
    //-     td
    //-       span.caption-iowait= cap3
    //-     //- td
    //-     //-   span.caption-irq %irq
    div(id=graph_id).graph-placeholder
    span.text-muted
    if block
      block

mixin server_param(description, value)
  tr
    td #{description}
    td #{value}

block content
  h1.page-header System overview of #{hostname}
  .row.placeholders 
    +graph("CPU usage",  "mpstat_total", "mpstat_legend")
    //- +graph("Network I/O", "netstat_total", "recv(B/s)", "send(B/s)", "")
    //- +graph("Load average", "loadavg", "1min", "5min", "15min")
    //- +graph("Disk I/O", "diskstat_total", "rB/s", "wB/s", "")

  h2.sub-header Server Information

  .table-responsive
    table.table.table-striped
      tbody
        +server_param("hostname", hostname)
        +server_param("kernel version", kernel_ver) 
        +server_param("cpu model", cpu_type)
        +server_param("number of cores", num_of_cpus)
        +server_param("memory size (KiB)", memsize)


block script
  script(src="/js/perfmon_index_flot.js")
